<!DOCTYPE html>

<html>
<head>
  <title>BeegoDemo</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
</head>

<body>
  <div>		
		<div>
			Payment:
		</div>
		<div>
		AccountID:{{.AccountID}}
		</div>
		<div>
		PartnerID:{{.PartnerID}}
		</div>
		<div>
		UserID:{{.UserID}}
		</div>
		<div>
		CreateTime:{{.CreateTime}}
		</div>
		<div>
		Amount:{{.Amount}}
		</div>
		<div>		
		OuterTradeNo:{{.OuterTradeNo}}
		</div>
			<div>
		Remark:{{.Remark}}
		</div>
			

  </div>
</body>
</html>
